<div class="sign-in small-8 large-centered columns">
  <br /><br /><br />
    <h2 align="center">You are not authorized to see further content!</h2>
    <h3 align="center">High school student? <%= link_to "Log In", new_tourist_session_path %> or <%= link_to "Sign Up", new_tourist_registration_path %> to continue.</h3>
    <h3 align="center">College student? <%= link_to "Log In", new_student_session_path %> or <%= link_to "Sign Up", new_student_registration_path %> to continue.</h3>
  <br /><br /><br />
</div>
