<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;">
      <a name="about"></a>
    </span>
    <br /><br />
    <h1 align="center">About Campus Verus</h1>
    <div class="large-6 columns text-center">
      <br /><br />
      <h2 align="center">Kamille Delgardo</h2>
    </div>
    <div class="large-6 columns text-center">
      <br /><br />
      <h2 align="center">Background and Education</h2>
    </div>
  </div>
</div>
