<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;">
      <a name="about"></a>
    </span>
    <br /><br />
    <h1 align="center">About Campus Verus</h1>
    <div class="large-6 columns text-center">
      <br /><br />
      <h2 align="center">Kamille Delgardo</h2>
      <br /><br />
      <img class="avatar-icon" src="https://avatars0.githubusercontent.com/u/9746985?v=3&s=460"/>
    </div>
    <div class="large-6 columns text-center">
      <br /><br />
      <h2 align="center">Background and Education</h2>
      <h4 align="center">During the last semester of my senior year in 2015 I recall bathing in the spring California sunshine, reminiscing on my experiences at Cal and what I wished I would have known going into college. I recalled the seemingly dozens of road trips and flights I took with my mom to see schools, only to hear a different version of the same tour every single time. Like Frank Costanza, I realized there must be a better way!</h4>
      <h4>With a background in the Classics and a passion for truth, I began teaching myself to code. Before I knew it, I'd gained the skills to make my vision a reality! Campus Verus was born.</h4>
    </div>
  </div>
</div>
