<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;"></span>
    <br />
    <br />
    <div class="row">
      <div class="large-12 columns text-center">
        <h1><b>College is one of life's biggest investments.</b></h1>
        <h2><b>Shouldn't all your hard research reflect the truth?</b></h2><br />
        <h4><a>News Source</a> says college tuition has risen more than XX%. All the while, the higher education industry perpetuates a cycle of false promises, with <a href="http://www.usnews.com/education/best-colleges/articles/how-us-news-calculated-the-rankings">faulty rankings systems</a> factoring more in choice than anything. Meanwhile, <a href="http://www.economist.com/news/leaders/21647285-more-and-more-money-being-spent-higher-education-too-little-known-about-whether-it">more people than ever</a> are seeking higher education, with application rates rising every year.</h4><br />
        <h4>The one thing all these enthusiastic degree-seekers seem to be forgetting is that higher education is an <em>industry</em>, and all the glossy catalogs and beautiful websites will never make up for the experiences of real students at so many elite institutions.</h4><br />
        <h4>Some more pablum about CV to fill this space</h4>
      </div>
    </div>
  </div>
</div>
