<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;"></span>
    <br />
    <br />
    <h1>College is one of the biggest investments you'll ever make.</h1>
    <h2>Shouldn't you be getting the truth out of all your research?</h2>
  </div>
</div>
