<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;"></span>
    <div class="row">
      <div class="large-6 columns text-center">
        <br /><br />
        <h2 align="center"><%= link_to "Join as a college student!", new_student_registration_path %> </h2>
      </div>
      <div class="large-6 columns text-center">
        <br /><br />
        <h2 align="center"><%= link_to "Join as a tourist!", new_tourist_registration_path %> </h2>
      </div>
    </div>
  </div>
</div>
