<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;"></span>
    <div class="row">
      <div class="large-6 columns text-center">
        <br /><br />
        <h2 align="center">Join as a college student!</h2>
      </div>
      <div class="large-6 columns text-center">
        <br /><br />
        <h2 align="center">Join as a tourist!</h2>
      </div>
    </div>
  </div>
</div>
