<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;"></span>
      <div class="row">
        <div class="large-6 columns text-center">
          <br /><br />
          <h2 align="center">What students are saying:</h2>
          <br /><br />
          <img class="avatar-icon" src="http://bit.ly/20RbyE1" />
          <br /><br /><br />
          <h3>Kamille Delgardo, UC Berkeley</h3>
          <p>
            "Campus Verus allows me to 'pay it forward' to future students by giving them my opinion after spending five years at this institution. Additionally, I get to meet tons of cool prospective students and their enthusiasm invigorates me! When students take premium tours I get to really give them an overview while making some scratch on the side."
          </p>
        </div>
        <div class="large-6 columns text-center">
          <br /><br />
          <h2 align="center">What tourists are saying:</h2>
          <br /><br />
          <img class="avatar-icon" src="http://bit.ly/1Njbryv" />
          <br /><br /><br />
          <h3>Kamille Delgardo, high school senior</h3>
          <p>
            "Making use of Campus Verus has saved me from sending application fees to the 17 prospective schools on my list! Now I know the truth! The honesty of the student guides I had was a revelation after going on dozens of university-sanctioned tours. I really don't need to see the oldest building. I need to see the ugly."
          </p>
        </div>
      </div>
  </div>
</div>
