<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;"></span>
      <div class="row">
        <div class="large-6 columns text-center">
          <br /><br />
          <h3 align="right">"This is the oldest building on campus, built by founder Herp McDerp in 1800!"</h3>
          <br /><br />
          <h3 align="left">"We offer intramural sports in addition to our NCAA Division I athletic program!"</h3>
          <br /><br />
          <h3 align="right">"Our East Asian Studies Library is the largest West of the Mississippi!"</h3>
          <br /><br />
          <h3 align="left">"See these parking signs? 'NL' stands for 'Nobel Laureate only!'"</h3>
          <br /><br />
          <h3 align="right">"CHECK OUT OUR HUGE TOWER."</h3>
        </div>
        <div class="large-6 columns text-left">
          <br /><br />
          <h2 align="center"><b>How Campus Verus Wins</b></h2>
          <h4>Our tour guides are <em>not</em> paid by their school to say only school-sanctioned, whitewashed pablum. </h4><br />
          <h4 >Each tour is guaranteed to be unique, due to the flexibility of our student guides and each tourist's interests and needs.</h4><br />
          <h4>In addition to being 100% honest, our tours take students off-campus (where applicable) in order to absorb the flavors of the community where tourists might be spending the next few years of their life.</h4><br />
          <h4>Our tour guides are real, live students who have interests and opinions, and they're committed to the future and value of higher education.</h4>

        </div>
      </div>
  </div>
</div>
