<div class="parallax-window" data-parallax="scroll" data-image-src="https://upload.wikimedia.org/wikipedia/commons/e/e9/UC-Berkeley-campus-overview-from-hills.h.jpg"><br /><br />
<h1 align="center">
  CAMPUS VERUS
</h1></div>

<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;"></span>
    <br />
    <br />
    <h1>College is one of the biggest investments you'll ever make.</h1>
    <h2>Shouldn't you be getting the truth out of all your research?</h2>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://upload.wikimedia.org/wikipedia/commons/4/45/Dartmouth_College_campus_2007-10-20_10.JPG"></div>


<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;"></span>
    <br />
    <br />
    <h1>College is one of the biggest investments you'll ever make.</h1>
    <h2>Shouldn't you be getting the truth out of all your research?</h2>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Stanford_University_campus_from_above.jpg">
</div>

<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;"></span>
    <p>Some other Content</p>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Central_Campus_Scene_-_University_of_Chicago_-_Illinois_-_USA_-_03.jpg"></div>

<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;"></span>
    <p>Some other Content</p>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Yale_University_Cross_Campus_2.jpg"></div>

<div class="parallax-window">
  <div class="parallax-slider">
    <span style="position:absolute; top: 400px; left: 400px;">
      <a name="about"></a>
    </span>
    <br />
    <br />
    <h1>About Campus Verus</h1>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://upload.wikimedia.org/wikipedia/commons/4/40/2014_Columbia_University_Morningside_Heights_campus_from_northeast.jpg"></div>
